:root {
  --gap: 5px;
}

.grid {
  --size: calc(100vw / 8 * .8);
  width: calc((var(--size) + var(--gap)) * calc(var(--columns)));
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
  margin-right: calc((var(--size) + var(--gap)) / 2);
  margin-bottom: calc((var(--size) + var(--gap)) / 4);
}
